In [126]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
clusters_init = open('wiki-topcats-categories.txt','rt')
filtered = pd.read_csv('filtered-wiki-topcats.txt', sep=" ", header=None)

In [14]:
unique_nodes = set(filtered.values.reshape(-1))

In [127]:
number_clusters = []
cluster_category = []
nodes_indexes = []
with open('wiki-topcats-categories.txt','rt') as f: 
    for line in f:
        name, lines = line.split(';')
        nodes = list(map(int,(lines.split())))
        nodes = list(filter(lambda x: int(x) in unique_nodes, nodes))
        if len(nodes) != 0:
            cluster_category.append(name.split(':')[1])
            number_clusters.append(len(nodes))
            nodes_indexes.append(nodes)

In [136]:
#original dataset statistics
df_init = pd.DataFrame(list(zip(cluster_category, clusters_original, nodes_indexes)), columns = ['topic', 'number of nodes per cluster','nodes_idx'])
df_init.describe()

       number of nodes per cluster
count                 16999.000000
mean                     82.342373
std                     875.139882
min                       1.000000
25%                      19.000000
50%                      40.000000
75%                      78.000000
max                  111754.000000

In [135]:
sort_by_number_of_nodes = df_init.sort_values('number of nodes per cluster', ascending=False)
sort_by_number_of_nodes.head()

,topic,number of nodes per cluster,nodes_idx
1030,Living_people,111754,"[52, 74, 155, 159, 167, 195, 212, 228, 235, 98..."
11426,American_film_actors,7644,"[980, 1088, 1109, 1121, 1123, 1124, 1125, 1134..."
10338,English-language_films,7312,"[16405, 18792, 23850, 23865, 25493, 26846, 326..."
7487,Year_of_birth_missing_(living_people),7140,"[195, 1100, 1104, 1118, 1121, 1139, 1148, 1474..."
8531,Main_Belt_asteroids,6930,"[13184, 33254, 33791, 33990, 33991, 37540, 390..."