In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\Lenovo\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [5]:
clusters_init = open('wiki-topcats-categories.txt','rt')
filtered_data = pd.read_csv('filtered-wiki-topcats5.txt', sep=" ", header=None) 
clusters_formed = pd.read_csv('cluster5.csv', header = None)

In [8]:
# used_nodes = pd.read_csv('filtered-wiki-nodes5.txt', sep= " ", header = None)
unique_nodes = set(filtered_data[0].values).union(set(filtered_data[1].values))

In [15]:
len(unique_nodes)

150001

In [11]:
number_clusters = []
cluster_category = []
nodes_indexes = []
with open('wiki-topcats-categories.txt','rt') as f: 
    for line in f:
        name, lines = line.split(';')
        nodes = list(map(int,(lines.split())))
        nodes = list(filter(lambda x: int(x) in unique_nodes, nodes))
        if len(nodes) != 0:
            cluster_category.append(name.split(':')[1])
            number_clusters.append(len(nodes))
            nodes_indexes.append(nodes)

In [18]:
len(unique_nodes.difference(set([i[0] for i in idx_nodes])))

0

In [12]:
ids_categories = {idx:cat for idx,cat in enumerate(cluster_category)}
idx_nodes = []
for cat in ids_categories.keys():
    for node in nodes_indexes[cat]:
        idx_nodes.append((node,cat))
df_filtered = pd.DataFrame(idx_nodes, columns = ['id_node', 'id_category'])

In [13]:
len(idx_nodes)

431617

In [14]:
df_filtered.shape

(431617, 2)

In [29]:
export_csv = df_filtered.to_csv ('id_node_cat.csv', index = None, header=True)

In [ ]:
clusters_node_pers = []
# for cluster in clusters_formed[1].unique():
if True: 
    cluster = 279122
    cluster_percents = []
    set_2 = set(clusters_formed[0][clusters_formed[1] == cluster])
    for cat in ids_categories.keys():
        set_1 = set(df_filtered['id_node'][df_filtered.id_category == cat])
        intersections = set_1.intersection(set_2)
        if len(intersections) != 0 and len(set_2): 
            cluster_percents.append((len(intersections)/len(set_2)))
    clusters_node_pers.append(cluster_percents)   
print(np.array(np.max(clusters_node_pers)))

In [30]:
#statistics for filtered original dataset
df_init = pd.DataFrame(list(zip(cluster_category, number_clusters, nodes_indexes)), columns = ['topic', 'number of nodes per cluster','nodes_idx'])
df_init.describe()

       number of nodes per cluster
count                 15593.000000
mean                     27.680177
std                     170.868488
min                       1.000000
25%                       5.000000
50%                      13.000000
75%                      31.000000
max                   20315.000000

In [31]:
sort_by_number_of_nodes = df_init.sort_values('number of nodes per cluster', ascending=False)
sort_by_number_of_nodes.head()

,topic,number of nodes per cluster,nodes_idx
962,Living_people,20315,"[256, 872, 1032, 1055, 1100, 1115, 1124, 1289,..."
9576,English-language_films,2592,"[19417, 23865, 41891, 43995, 43997, 52272, 630..."
10653,American_film_actors,1517,"[174, 1124, 44820, 53884, 110163, 110164, 1101..."
9585,American_films,1476,"[19415, 19417, 41891, 43995, 63027, 119822, 13..."
12474,Article_Feedback_Pilot,1471,"[4500, 5345, 5413, 5759, 5763, 5803, 5828, 614..."

In [35]:
with open('filtered-wiki-topcats5.txt','rt') as f: 
    for line in f:
        name, lines = line.split(';')
        nodes = list(map(int,(lines.split())))
        nodes = list(filter(lambda x: int(x) in unique_nodes, nodes))
        if len(nodes) != 0:
            filtered_category.append(name.split(':')[1])
            filtered_clusters.append(len(nodes))
            filtered_indexes.append(nodes)

ValueError: not enough values to unpack (expected 2, got 1)

In [33]:
df_shrinked = pd.DataFrame(list(zip(filte)), columns = ['topic', 'number of nodes per cluster','nodes_idx'])
df_shrinked.describe()

              0        1
0        805973   279122
1       1056524   279122
2        984648   279122
3       1683128   279122
4        851471  1650860
5        386896   279122
6        976434   279122
7        475465   279122
8        513652   279122
9       1233822   279122
10      1428760   279122
11        51620   279122
12       190569   279122
13       628656   279122
14      1234630   279122
15      1452132   279122
16      1469920   279122
17      1652524   279122
18      1159533   279122
19       552122   279122
20       546920   279122
21      1616234   279122
22      1641363   279122
23      1714282   279122
24      1488720   279122
25       571636   279122
26       751033   279122
27       610189   279122
28      1062715   279122
29       154270   279122
...         ...      ...
149971   649031   279122
149972  1235516   279122
149973   646225   279122
149974   601189   279122
149975   454208   279122
149976    10060   279122
149977   169592   279122
149978   704870   279122
149979  1389766   279122
149980    60390   279122
149981   155881   279122
149982  1544622   279122
149983   613396   279122
149984  1178189   279122
149985   569407   279122
149986   634612   279122
149987  1571106   279122
149988   270763   279122
149989    59227   279122
149990   405998   279122
149991   684076   682643
149992  1432923   279122
149993  1284913   279122
149994  1659124  1658909
149995  1684656   279122
149996  1377716   279122
149997  1179224   279122
149998   568331   279122
149999  1498000   279122
150000  1631074   279122

[150001 rows x 2 columns]